*.pyc
*.swo
*.swp
*.core
*.db
*.DS_Store
\.DS_Store

*\.del*
.idea/*
venv/*
!\.d
__pycache__/*

src/frontend/scripts/node_modules/*

world/etc/local_settings.sh
world/etc/local_settings.py
world/etc/nginx.conf
world/etc/supervisor.conf
world/etc/init\.d/runserver.sh

world/var/log/*
!\.d
world/var/run/*
!\.d
world/var/sys/sessions/*
!\.d
world/var/sys/sqlite3/*
!\.d

world/var/www/media/*
!\.d
world/var/www/static/*
!\.d

