<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <!--favicon icon-->
    <link rel="icon" type="image/png" href="{{ static('lib/img/favicon.png') }}">

    <title>{% block title %}{{ _('Login')}}{% endblock %}</title>

    <!--web fonts-->
    <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

    <!--bootstrap styles-->
    <link href="{{ static('lib/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ static('lib/vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ static('lib/vendor/dashlab-icon/dashlab-icon.css') }}" rel="stylesheet">
    <link href="{{ static('lib/vendor/simple-line-icons/css/simple-line-icons.css') }}" rel="stylesheet">
    <link href="{{ static('lib/vendor/themify-icons/css/themify-icons.css') }}" rel="stylesheet">
    <link href="{{ static('lib/vendor/weather-icons/css/weather-icons.min.css') }}" rel="stylesheet">
    <link href="{{ static('lib/vendor/m-custom-scrollbar/jquery.mCustomScrollbar.css') }}" rel="stylesheet">
    <link href="{{ static('lib/vendor/jquery-dropdown-master/jquery.dropdown.css') }}" rel="stylesheet">
    <link href="{{ static('lib/vendor/jquery-ui/jquery-ui.min.css') }}" rel="stylesheet">
    <link href="{{ static('lib/vendor/icheck/skins/all.css') }}" rel="stylesheet">
    <link href="{{ static('lib/css/main.min.css') }}" rel="stylesheet">
    <link href="{{ static('this/css/style.css') }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="assets/vendor/html5shiv.js"></script>
    <script src="assets/vendor/respond.min.js"></script>
    <![endif]-->

</head>

<body class="login-bg">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 d-lg-flex align-items-center">
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>
</body>
</html>

