<div class="creative-state-area basic-gradient" *ngIf="false">
            <div class="row">
                <div class="col-lg-7 col-12">
                    <h4 class="creative-state-title">Статистика</h4>
                </div>
                <div class="col-lg-5  col-12 text-lg-right">
                    <div class="row short-states mb-lg-0 mb-4">
                        <div class="col-6">
                            <span class="pr-2">unique visitors</span>
                            <span id="unique_visitors"><canvas width="57" height="20" style="display: inline-block; width: 57px; height: 20px; vertical-align: top;"></canvas></span>
                        </div>
                        <div class="col-6">
                            <span class="pr-2">total visitors</span>
                            <span id="total_visitors"><canvas width="52" height="20" style="display: inline-block; width: 52px; height: 20px; vertical-align: top;"></canvas></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="creative-state-icon bg-danger text-center pull-left">
                        <i class="vl_clip-board"></i>
                    </div>
                    <div class="creative-state-info text-center pull-left">
                        <h3 class="mt-4">9808</h3>
                        <p class="mb-0">order received</p>
                        <div class=" widget-action-link ">
                            <small class="text-danger weight700">5% <i class="fa fa-long-arrow-down"></i></small>
                        </div>

                        <div class=""><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                            <canvas id="state_order_chart" height="80" width="244" class="chartjs-render-monitor" style="display: block; width: 244px; height: 80px;"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="creative-state-icon bg-warning text-center pull-left">
                        <i class="vl_cart-full"></i>
                    </div>
                    <div class="creative-state-info text-center pull-left">
                        <h3 class="mt-4">1231</h3>
                        <p class="mb-0">total sales</p>
                        <div class=" widget-action-link">
                            <small class="text-success weight700">5% <i class="fa fa-long-arrow-up"></i></small>
                        </div>
                        <div class=""><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                            <canvas id="state_sale_chart" height="80" width="244" class="chartjs-render-monitor" style="display: block; width: 244px; height: 80px;"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="creative-state-icon bg-purple text-center pull-left">
                        <i class="vl_dollar-on-hand"></i>
                    </div>
                    <div class="creative-state-info text-center pull-left">
                        <h3 class="mt-4">23214</h3>
                        <p class="mb-0">total profit</p>
                        <div class=" widget-action-link">
                            <small class="text-success weight700">5% <i class="fa fa-long-arrow-up"></i></small>
                        </div>
                        <div class=""><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                            <canvas id="state_profit_chart" height="80" width="244" class="chartjs-render-monitor" style="display: block; width: 244px; height: 80px;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<div class="container-fluid">

  <div class="clearfix"></div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel5" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel5">{{ action.title }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" *ngIf="action.label!='delete'">
          <div class="form-group">
            <label for="name" class="col-form-label">Название:</label>
            <input type="text" class="form-control" id="name" formControlName="name">
            <span class="errors" 
              *ngIf="form.get('name').invalid && form.get('name').touched">
              Введите название сообщества
            </span>
          </div>
          <div class="form-group">
            <label for="community_id" class="col-form-label">Идентификатор:</label>
            <input type="text" class="form-control" id="community_id" formControlName="community_id">
            <span class="errors" 
              *ngIf="form.get('community_id').invalid && form.get('community_id').touched">
              Введите идентификатор сообщества
            </span>
          </div>
        </form>
        <span *ngIf="action.label=='delete'">
          Вы действительно желаете удалить сообщество "{{ item.name }}"?
        </span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
        <button *ngIf="action.label=='create'" [disabled]="form.invalid" (click)="saveAction('modal')" type="button" class="btn btn-success">Добавить</button>
        <button *ngIf="action.label=='update'" [disabled]="form.invalid" (click)="saveAction('modal')" type="button" class="btn btn-primary">Сохранить</button>
        <button *ngIf="action.label=='delete'"  (click)="saveAction('modal')" type="button" class="btn btn-danger">Удалить</button>
      </div>
    </div>
  </div>
</div>

  <div class="row mt-3">
    <div class="col-xl-6 col-md-6" *ngFor="let g of grouplist">
      <div class="card card-shadow mb-4">
        <div class="card-header border-0">
          <div class="btn-group float-right" role="group" aria-label="Basic example">
            <button 
              type="button" 
              class="btn btn-sm btn-light"
              data-toggle="modal" 
              data-target="#modal" 
              data-whatever="@mdo"
              (click)="updateAction(g.pk)">
              <span class="fa fa-pencil"></span>
            </button>
            <button 
              type="button" 
              class="btn btn-sm btn-light" 
              data-toggle="modal" 
              data-target="#modal" 
              data-whatever="@mdo"
              (click)="deleteAction(g.pk)">
              <span class="fa fa-remove"></span>
            </button>
          </div>
          <div class="custom-title-wrap bar-primary">
            <div class="custom-title">{{ g.name }}</div>
            <div class="custom-post-title">ID: {{ g.community_id }}</div>
          </div>
        </div>
        <div class="card-body">
        </div>
      </div>
    </div>
  </div>
  <button type="button" 
    class="btn btn-dark btn-block float-right" 
    data-toggle="modal" 
    data-target="#modal" 
    data-whatever="@mdo"
    (click)="createAction()">
    <span class="fa fa-plus"></span>
    Добавить
  </button>
</div>

